<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
</head>
<body>

    <h1>Registration</h1>

    <form id="registration" action="newClient">
        <input name="name" id="name" type="text"  placeholder="Company name"/>
        <input name="email" id="email" type="text" placeholder="Company e-mail address"/>
        <button type="submit" id="save_btn" >Save</button>
    </form>

</body>
</html>